apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: his-keycloak
spec:
  type: NodePort
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30801
  selector:
    app: keycloak
